<div class='container'>
  <div class='center'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form-icons">

        <h4>Register for an account</h4>

        <div class="field input-group">
          <span class="input-group-label <%="error" if !devise_error_messages![:first_name].empty?%>">
            <i class="fa fa-user"></i>
          </span>
          <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", class: "input-group-field" %>
        </div>
        
        <div class="field input-group">
          <span class="input-group-label <%="error" if !devise_error_messages![:last_name].empty?%>">
            <i class="fa fa-user"></i>
          </span>
          <%= f.text_field :last_name, placeholder: "Last Name", class: "input-group-field" %>
        </div>

        <div class="field input-group">
          <span class="input-group-label <%="error" if !devise_error_messages![:phone_number].empty?%>">
            <i class="fa fa-phone"></i>
          </span>
            <%= f.telephone_field :phone_number, placeholder: "Phone Number", class: "input-group-field" %>
        </div>

        <div class="field input-group">
          <span class="input-group-label <%="error" if !devise_error_messages![:address].empty?%>">
            <i class="fa fa-address-card"></i>
          </span>
            <%= f.text_field :address, placeholder: "Address", class: "input-group-field" %>
        </div>

        <div class="field input-group">
          <span class="input-group-label <%="error" if !devise_error_messages![:email].empty?%>">
            <i class="fa fa-envelope"></i>
          </span>
          <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "input-group-field" %>
        </div>

        <div class="field input-group">
          <% if @minimum_password_length %>
          <%# <em>(<%= @minimum_password_length %> 
          <%# characters minimum)</em> %>
          <% end %><br />
          <span class="input-group-label <%="error" if !devise_error_messages![:password].empty?%>">
            <i class="fa fa-key"></i>
          </span>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (#{@minimum_password_length} characters minimum)", class: "input-group-field"%>
        </div>

        <div class="field input-group">
          <span class="input-group-label <%="error" if !devise_error_messages![:password_confirmation].empty?%>">
            <i class="fa fa-key"></i>
          </span>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", class: "input-group-field" %>
        </div>

        <div class="field input-group">
          <span class="input-group-label">
            <i class="fa fa-users"></i>
          </span>
            <%= f.select(:type_of_user, [["I am a chef", 'chef'],["I am a customer", 'customer']],{}, {class: 'input-group-field'}) %>
        </div>

        <div class="actions">
          <%= f.submit "Sign Up" %>
        </div>
      </div>
    <% end %>
      
    <%= render "devise/shared/links" %>
  </div>
</div>


