<p id="notice"><%= notice %></p>
<% if current_user.chef? %>
<%= form_with model: current_user.chef, url: chef_update_path, method: :put do |f| %>
<div class="switch large">
 <%= f.check_box :currently_working, class: "switch-input", id: "currently_working", onChange: "this.form.submit()"%>
  <label class="switch-paddle" for="currently_working">
    <span class="show-for-sr">Am I working?</span>
    <span class="switch-active" aria-hidden="true">Working</span>
    <span class="switch-inactive" aria-hidden="true">Not working</span>
  </label>
</div>
  <% end%>

<%end%>


<h1>My Meals</h1>
    <% if current_user.chef? %>
    <% if current_page?(meals_path)%>
    <%= link_to "All Meals", show_all_path%>
    <% end %>
        <% if current_page?(show_all_path)%>

        <%= link_to "My Meals", meals_path%>

    <% end%>
    <%= link_to new_meal_path do  %>

<div class="card plus-card">
      <svg height="40" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
      <h4>Add meal</h4>
    </div>
<% end %>
 <%end%>

  <!-- Filter Buttons Start -->
<section class="filter-simple">
    <div class="button-group round">
      <button class="button hollow filter-simple-button is-active" data-filter="all">All</button>
      <button class="button hollow filter-simple-button" data-filter="chinese">Chinese</button>
      <button class="button hollow filter-simple-button" data-filter="french">French</button>
      <button class="button hollow filter-simple-button" data-filter="japanese">Japanese</button>
      <button class="button hollow filter-simple-button" data-filter="vietnamese">Vietnamese</button>
      <button class="button hollow filter-simple-button" data-filter="turkish">Turkish</button>
      <button class="button hollow filter-simple-button" data-filter="american">American</button>
      <button class="button hollow filter-simple-button" data-filter="others">Others</button>
    </div>
  


  <% @meals.each do |meal| %>
    <div class="row small-up-2 medium-up-3 large-up-4 card filter-simple-item <%= meal.cuisine %>">
        <div class="column column-block  ">
          <%= link_to meal, value:"meal.cusine" do %>
          <%# <%= image_tag(meal.image_url)%>
          <h5><%= meal.name %></h5>
          <p>Cuisine: <%= meal.cuisine %>
          <p>Description: <%= meal.description %></p>
          <p>Price: $<%= meal.price %></p>
          <p>Delivery time: <%= meal.delivery_time %></p>
          <p>Chef: <%= meal.chef_name %></p>
          <% end %>
        </div>
    </div>

  <% end %>

</section>
<!-- 
    <% @meals.each do |meal| %>
      <%= link_to meal do %>

      <div class="card" style="width:200px">
        <%= image_tag(meal.image_url)%>
        <div class="card-divider"> <h5><%= meal.name %></h5>
        
        </div>

        <div class="card-section">
        
          <p>Description: <%= meal.description %></p>
          <p>Price: $<%= meal.price %></p>
          <p>Delivery time: <%= meal.delivery_time %></p>
          <p>Chef: <%= meal.chef_name %></p>

        </div>
       <% end %> 
       
       <% if current_user.customer? or (current_user.chef? and @working) %>
        <td><%= link_to 'Buy', new_transaction_path(meal_id: meal.id) %></td>
        <% end %>
        <% if current_user.chef? and @working %>
        <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
        <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        </div>
      </div>
    <% end %>
 -->



