<p id="notice"><%= notice %></p>

<h1>Meals</h1>

<table>
  <thead>
    <tr>
      <th>Cuisine</th>
      <th>Description</th>
      <th>Price</th>
      <th>Delivery time</th>
      <th>Image</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= meal.cuisine %></td>
        <td><%= meal.description %></td>
        <td><%= meal.price %></td>
        <td><%= meal.delivery_time %></td>
        <td><%= image_tag(meal.image_url)%></td>
        <td><%= meal.chef_name %></td>
        <td><%= link_to 'Show', meal %></td>
        <% if current_user.customer? or (current_user.chef? and @working) %>
        <td><%= link_to 'Buy', new_transaction_path(meal_id: meal.id) %></td>
<% end %>
        <% if current_user.chef? and @working %>
        <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
        <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<% if current_user.chef? and @working %>
  <div class='bg green'>
      <%= link_to 'New Meal', new_meal_path %>

    <%= link_to 'I am Working', chef_update_path, method: :put %>

  </div>
<% elsif current_user.chef? and !@working %>
  <div class='bg red'>
    <%= link_to 'I am not Working', chef_update_path, method: :put %>

</div>
<% end %>