<p id="notice"><%= notice %></p>
<% if current_user.chef? and current_user.chef.currently_working == true %>
  <div class='bg green'>
    <%= link_to 'Working', chef_update_path, method: :put %>

  </div>
<% elsif current_user.chef? and current_user.chef.currently_working != true %>
  <div class='bg red'>
    <%= link_to 'Working', chef_update_path, method: :put %>

</div>
<h1>Meals</h1>



  
    <% @meals.each do |meal| %>
      <div class="card" style="width:200px">
        <%= image_tag(meal.image_url)%>
        <div class="card-divider"> <h5><%= meal.name %></h5>
        
        </div>

        <div class="card-section">
        
        <p>Description: <%= meal.description %></p>
        <p>Price: $<%= meal.price %></p>
        <p>Delivery time: <%= meal.delivery_time %></p>
        <p>Chef: <%= meal.chef_name %></p>

        </div>
        <td><%= link_to 'Show', meal %></td>
        <td><%= link_to 'Buy', new_transaction_path(meal_id: meal.id) %></td>

        <% if current_user.chef? %>
        <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
        <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        </div>
      </div>
    <% end %>
 

<br>

    <%= link_to 'New Meal', new_meal_path %>



<% end %>