  <p id="notice"><%= notice %></p>
  <div>
  <h1> My Meals </h1>
  <%= render 'switch' %>

  </div>
  <section class="filter-simple">
    
  <%= render 'filter'%>
  <%= render 'mobile_filter' %>
  <%= render 'plus-card'%>
  <%= render 'grid'%>

</section>
