<p id="notice"><%= notice %></p>

<p>
  <strong>Cuisine:</strong>
  <%= @meal.cuisine %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @meal.price %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @meal.delivery_time %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @meal.image_url , :class => "style_image" %>
</p>

<p>
  <strong>User:</strong>
  <%= @meal.chef.user.first_name %>
</p>
<% if current_user.chef? and @meal.chef_id == current_user.chef.id %>
<%= link_to 'Edit', edit_meal_path(@meal) %> 
<%= link_to 'destroy', @meal, method: :delete %>
<%= link_to 'Back', meals_path %>
<% end%>
<% if current_user.customer? or (@meal.chef_id != current_user.chef.id)%>
<%= link_to 'buy', new_transaction_path(meal_id: @meal.id) %>
<% end %>

