<p id="notice"><%= notice %></p>

<p>
  <strong>Cuisine:</strong>
  <%= @meal.cuisine %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @meal.price %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @meal.delivery_time %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@meal.image_url) %>
</p>

<p>
  <strong>User:</strong>
  <%= @meal.chef.user.first_name %>
</p>
<% if current_user.chef? %>
<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'destroy', @meal, method: :delete %>
<%= link_to 'Back', meals_path %>
<% end%>
