
<% if current_user.customer? %>

<h1> Order History </h1>

  <table>
    <thead>
      <tr>
        <th> Id </th>
        <th> Description </th>
        <th> Delivery Address </th>
        <th> Cuisine Name </th>
        <th> Price </th>
      </tr>
      </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
    <div>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= transaction.description %></td>
        <td><%= transaction.delivery_address %></td>
        <td><%= transaction.meals.first.cuisine %></td>
        <td>$<%= transaction.meal_transactions.first.sale_price %></td>
      </tr>
      </div>
    <% end %>
  </tbody>
  </table>

<% else current_user.chef? %>
  <h1> Sales </h2>

    <table>
    <thead>
      <tr>
        <th> Id </th>
        <th> Description </th>
        <th> Cuisine Name </th>
        <th> Revenue </th>
      </tr>
      </thead>

    <% @meal_transactions.each do |transaction| %>
    <div>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= transaction.description %></td>

         <%# Transaction.find(transaction.transaction_id).description %>
        <td><%= transaction.sale_price %></td>
      </tr>
      </div>  
    <% end %>
   <h2> Total Revenue </h2>
   <%= @total_revenue %>

<% end %>

</table>