<% if current_user.customer? %>

  <h1> Order History </h1>
    <table>
      <thead>
        <tr>
          <th> Description </th>
          <th> Delivery Address </th>
          <th> Cuisine Name </th>
          <th> Price </th>
          <th> Date Purchased </th>
        </tr>
      </thead>

      <tbody>
        <% @transactions.each do |transaction| %>
          <div>
            </tr>
              <td> <%= transaction.description %></td>
              <td> <%= transaction.delivery_address %></td>
              <td> <%= transaction.meals.first.cuisine %></td>
              <td>$<%= transaction.meal_transactions.first.formatstripe %></td>
              <td> <%= transaction.time %></td>
            </tr>
          </div>
          <% end %>
      </tbody>
    </table>

  <% elsif current_user.chef? %>
    <h1> Sales History </h2>
      <table>
        <thead>
          <tr>
            <th> Cuisine Name </th>
            <th> Description </th>
            <th> Price </th>
            <th> Sale Date </th>
          </tr>
        </thead>

      <tbody>
        <% @meal_transactions.each do |meal_transaction| %>
          <div>
            <tr>
              <td> <%= meal_transaction.meal.cuisine%>
              <td> <%= meal_transaction.order.description%>
              <td>$<%= meal_transaction.formatstripe %></td>
              <td> <%= meal_transaction.time %></td>
            </tr>
          </div>  
        <% end %>
        <tbody>
      </table>

      <h2> Total Sales </h2>
        $<%= @total_sales %>    
        
<% end %>

  
