<footer class="navbar">
  <nav>
    <ul>
      
<%# where customer = 0 and chef = 1 %>
    <%# <% if current_user.type_of_user == 0 %>
      <li><%= link_to "Home", '#' %></li>
      <li><%= link_to "Search", '#' %></li>
      <li><%= link_to "Upload", '#' %></li>
      <li><%= link_to "Account", '#' %></li>

    <%# <% elsif current_user.type_of_user == 1 %>
      <li><%= link_to "Home", '#' %></li>
      <li><%= link_to "Order History", '#' %></li>
      <li><%= link_to "Sales History", '#' %></li>
      <li><%= link_to "Account", '#' %></li>
    <%# <% end %>
      

    </ul>
  </nav>
</footer>