<footer class="navbar">
  <nav>
    <ul>
      
<%# where customer = 0 and chef = 1 %>
<% if !current_user.nil?  %>
  <% if current_user.type_of_user == 'customer' %>
      <li><%= link_to "Home", meals_path %></li>
      <li><%= link_to "Search", '#' %></li>
      <li><%= link_to "Order History", '#' %></li>
      <li><%= link_to "Account", edit_user_registration_path %></li>

  <% elsif current_user.type_of_user == 'chef' && current_user.chef %> 
      <li><%= link_to "Home", meals_path %></li>
      <li><%= link_to "Upload", '#' %></li>
      <li><%= link_to "Sales History", '#' %></li>
      <li><%= link_to "Account", edit_user_registration_path %></li>
  <% end %> 
<% end  %>
      

    </ul>
  </nav>
</footer>

<div class="mobile-app-icon-bar">
  <button><i class="fa fa-picture-o" aria-hidden="true"></i></button>
  <button><i class="fa fa-map-marker" aria-hidden="true"></i></button>
  <button><i class="fa fa-upload" aria-hidden="true"></i></button>
  <button><i class="fa fa-list-ul" aria-hidden="true"></i></button>
  <button><i class="fa fa-cog" aria-hidden="true"></i></button>
</div>
