
<% if !current_user.nil?  %>
  <% if current_user.type_of_user == 'customer' %>
    <div class="mobile-bottom-bar">
      <a href= "<%= meals_path %>" class="footer-link">
        <i class="fi-home"></i> <span class='footer-text'>Home</span>
      </a>
      <a href="#" class="footer-link">
        <i class="fi-magnifying-glass"></i> <span class='footer-text'>Search</span>
      </a>
      <a href="#" class="footer-link">
        <i class="fi-list-bullet"></i> <span class='footer-text'>Order History</span>
      </a>
      <a href="<%= edit_user_registration_path %>" class="footer-link">
        <i class="fi-torso"></i> <span class='footer-text'>Account Settings</span>
      </a>
    </div>
  
  <% elsif current_user.type_of_user == 'chef' && current_user.chef %> 
        <div class="mobile-bottom-bar">
      <a href= "<%= meals_path %>" class="footer-link">
        <i class="fi-home"></i> <span class='footer-text'>Home</span>
      </a>
      <a href="<%= new_meal_path %>" class="footer-link">
        <i class="fi-upload"></i> <span class='footer-text'>Upload</span>
      </a>
      <a href="#" class="footer-link">
        <i class="fi-list-bullet"></i> <span class='footer-text'>Sales History</span>
      </a>
      <a href="<%= edit_user_registration_path %>" class="footer-link">
        <i class="fi-torso"></i> <span class='footer-text'>Account Settings</span>
      </a>
    </div>
  
  <% end %> 
<% end %> 