
<% if user_signed_in?  %>
    <div class="mobile-bottom-bar">
      <a href= "<%= meals_path %>" class="footer-link">
        <i class="fi-home"></i> <span class='footer-text'>Home</span>
      </a>



      
      <div class="contact-panel footer-link" id="contact-panel" onclick="myFunction()">

    <a href="#" class="contact-panel-button">
       <span class='footer-text'> <i class="fi-magnifying-glass"></i> Search</span></a>
<%= render 'meals/search'%>
</div>
      
      <% if current_user.customer?%>
      <a href= <%= transactions_path %> class="footer-link">
        <i class="fi-list-bullet"></i> <span class='footer-text'>Order History</span>
      </a>
      <% else %>
       <a href= <%= transactions_path%>  class="footer-link">
        <i class="fi-list-bullet"></i> <span class='footer-text'>Sales History</span>
      </a>
      <% end %>
      <a href="<%= edit_user_registration_path %>" class="footer-link">
        <i class="fi-torso"></i> <span class='footer-text'>Account Settings</span>
      </a>
    </div>
 
<% end %> 
<script>
function myFunction() {
    var element = document.getElementById("contact-panel");
    element.classList.toggle("is-active");
}

</script>