
<% if user_signed_in?  %>
  <% if current_user.customer? %>
    <div class="mobile-bottom-bar">
      <a href= "<%= meals_path %>" class="footer-link">
        <i class="fi-home"></i> <span class='footer-text'>Home</span>
      </a>
      <a href="#" class="footer-link">
        <i class="fi-magnifying-glass"></i> <span class='footer-text'>Search</span>
      </a>
      <a href="#" class="footer-link">
        <i class="fi-list-bullet"></i> <span class='footer-text'>Order History</span>
      </a>
      <a href="<%= edit_user_registration_path %>" class="footer-link">
        <i class="fi-torso"></i> <span class='footer-text'>Account Settings</span>
      </a>
    </div>
  <% elsif current_user.chef? && current_user.chef %> 
        <div class="mobile-bottom-bar">
      <a href= "<%= meals_path %>" class="footer-link">
        <i class="fi-home"></i> <span class='footer-text'>Home</span>
      </a>
      <% if current_user.chef.currently_working %>
      <a href="<%= new_meal_path %>" class="footer-link <%= "not-active" unless current_user.chef.verification%>">
        <i class="fi-upload"></i> <span class='footer-text'>Upload</span>
        <% else %>
        <a href="#" class="footer-link">
        <i class="fi-magnifying-glass"></i> <span class='footer-text'>Search</span>
        <% end %>
      </a>
      </a>
      <a href="#" class="footer-link">
        <i class="fi-list-bullet"></i> <span class='footer-text'>Sales History</span>
      </a>
      <a href="<%= edit_user_registration_path %>" class="footer-link">
        <i class="fi-torso"></i> <span class='footer-text'>Account Settings</span>
      </a>
    </div>
  <% end %> 
<% end %> 